<h1>Add a restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :phone_number, label: "Phone Number" %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], label: "Category", prompt: "Select a category" %>

  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<%= link_to "Return", restaurants_path %>
