<h1><%= @restaurant.name %></h1>
<p><strong>Address :</strong> <%= @restaurant.address %></p>
<p><strong>Phone_number :</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category :</strong> <%= @restaurant.category %></p>

<h2>Review :</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating :</strong> <%= review.rating %> - <%= review.content %>
    </li>
  <% end %>
</ul>

<div class="d-grid gap-2 col-2">
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Return to list", restaurants_path, class: "btn btn-primary" %>
</div>
